# ---------- Frontend ----------
frontend/node_modules/
frontend/.next/
frontend/out/

# ---------- Backend ----------
backend/.env
backend/venv/
backend/.venv/
backend/__pycache__/
backend/**/*.pyc

# ---------- Python ----------
*.pyc
__pycache__/

# ---------- VS Code ----------
.vscode/

# ---------- OS ----------
.DS_Store
Thumbs.db